h1 
{
    color: #0099CC;
    font-size: 5em;
}

h1, h2, h3, h4, h5, h6
{
    text-align: center;
    padding: 0.5%;
}

body
{
    font-size: 16px;
    font-family: Arial, sans-serif;
}

section
{
    border: 1px solid rgb(206, 205, 205);
    padding: 10px;
    background-color: beige;
    margin-bottom: 25px;

    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

a.menuItem
{
    padding: 1em;
    margin: auto;
    color: white;
}

.menuInicial
{
    background-color: teal;
    padding: 1em;
}

.parallax
{
    background-image: url("/images/office.jpg");

    /* Set a specific height */
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax h1
{
    padding-top: 2em;
}

.parallax h2
{
    padding-top: 0.5em;
}